@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

$mainColor1: #23D4CE;

$break-lg: 1199px;
$break-md: 991px;
$break-sm: 767px;
$break-smm: 575px;
$break-xsm: 480px;
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

* {
  box-sizing: border-box;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  height: auto;
  position: relative;
  font-family: "Proxima Nova", "Verdana", "Avenir Next";
}
a {
  text-decoration: none;
  outline: none;
}   
// start General style
.title{
  margin-bottom: 87px;
  display: flex;
  justify-content: center;
  h3{ 
    font-size: 36px;
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600; 
    position: relative;
    &::before{
      content: ""; 
      width: 60px;
      height: 2px;
      display: block;
      background-color:  $mainColor1;
      transform: rotate(180deg);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  &.title--mb{
    margin-bottom: 40px;
  }
}
.btn{
  background: $mainColor1;
  border-radius: 6px;
  color: #FFF;
  width: 130px;
  height: 40px;
  &.btn--bg{ 
    color: #333333;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    margin-top: 60px;
  }
  &.btn--mainColor{
    background: $mainColor1;
    color: #FFF;
  }
  &.btn--radius{
    border-radius: 20px;
    width: 134px;
    height: 45px; 
    font-size: 24px;
    margin-left: auto;
  }
  &.btn--header{ 
    width: 78px; 
  }
  &.btn--Color2{
    background: #FFFFFF;
    color: $mainColor1;
  }
}
// Paragraphs style
.info{ 
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #52565F;   
  &.info--center{
    width: 70%; 
    text-align: center;
    margin: auto;
    @media screen and (max-width: $break-md) {
      width: 100%;
    }
  }
}
.details__wrapper{
  margin-bottom: 50px;
  .details{
    display: flex;
    align-items: baseline;
    i{
      color: #28BAD0;
      padding-right: 8px;
    }
    span{
      font-family: 'Metropolis';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px; 
      color: #52565F;
    }
  }
  &.details-wrapper--bg{ 
    background: #FFF;
    padding: 50px 30px; 
    margin-bottom: 0;
    .details{
      margin-bottom: 16px;
      span{
        font-family: 'Metropolis';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px; 
        text-align: justify; 
        color: #52565F;
      }
    }
  }
}
.toggler{
  display: none;
  font-size: 1.6rem;
  color: #FFF;
  @media screen and (max-width: $break-md) {
    display: block;
  }
}
.navbar{
  ul{ 
    display: flex;
    margin-bottom: 0;
    li{
      list-style: none;  
      a{ 
        font-family: 'Metropolis';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;  
        flex: none;  
        margin: 0px 10px;
      }
    }
  }
  @media screen and (max-width: $break-md) {
    display: none;
   }
}

// start Hero
.hero{
  background-image: url(../img/Hero/background.png);
  background-repeat: no-repeat;
  background-size: cover; 
  width: 100%;
  height: 708px;
}
header{
  padding: 20px 0;
  border-bottom: 1px solid #CCCCCC; 
  @media screen and (max-width: $break-md) {
    display: flex;
    align-items: center;
  }
.uperbar{
  display: flex;
  justify-content: space-between;
  .navigation{
    display: flex;
    align-items: center;
    .language{
      padding-right: 20px;
      span{
        font-family: 'Metropolis';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #FFF;
      }
    } 
    .auth{
      .btn{
        margin-right: 5px;
      }
    }
    @media screen and (max-width: $break-md) {
      display: none;
     }
  }
}
.side-nav{
  display: none;
  @media screen and (max-width: $break-md) {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 80vw;
    background: linear-gradient(45deg, #3e587b, #2c2b52);
    transition: all 1s;
    z-index: 1;
    // position: relative;
    .close{ 
      display: flex;
      width: 100%;
      justify-content: end;
      border-bottom: 1px solid #DDD;
      .close-btn{
        text-align: right;
        padding: 10px;
        background: #333;
        color: #FFF;
      }
    }
  }
  .side-nav__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .navbar--mobile {
      margin: 20px 0;
      padding: 25px 0px;
      border-bottom: 1px solid #DDD;
      ul{  
        li{
          list-style: none;
          padding: 10px 0px;  
          a{ 
            font-family: 'Metropolis';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 20px;
            color: #FFFFFF;  
            flex: none;  
            margin: 0px 10px;
          }
          &:hover{
            background-color: $mainColor1;
          }
        }
      }
    }
    .navigation{
      padding-left: 50px;
      .language{
        margin-bottom: 20px;
        span{
          color: #FFF;
        }
      }
    }
  }
}
}
.description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  .content{
    width: 50%;
    h3{
      font-family: 'Metropolis';
      font-style: normal;
      font-weight: 700;
      font-size: 48.83px;
      line-height: 62px;  
       color: #FFFFFF;
       span{
         color: $mainColor1;
       } 
    }
    p{
      font-family: 'Metropolis'; 
      font-weight: 500;
      font-size: 26px;
      line-height: 34px; 
      text-align: justify; 
      color: #EFEFEF;
    }
    .btn{
      width: 118px;
    }
  }
  @media screen and (max-width: $break-md) { 
    flex-direction: column;
    padding-top: 100px;
    .image-wrapper{
      height: 300px;
      margin-top: 45px;
      img{
        height: 100%;
      }
    }
    .content{
      width: 100%;
      h3{
        font-size: 30px;
        line-height: 40px;
      }
      p{
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
}

// End Hero 
// start sponser
.sponser{
  padding: 100px 0;
  @media screen and (max-width: $break-md) {
    padding-bottom: 50px;
    margin-top: 40px;
    img{
      display: block;
      margin: auto;
      margin-bottom: 30px;
    }
  }
}
// End sponser
// start Testimonials
.Testimonials{
  padding: 100px 0;
  .Testimonial{
    position: relative;
    .image-wrapper{
      padding-top: 76px;
      img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; 
        width: 100%;
    }
    .reviews{ 
      background: #FFF;
      border-radius: 50%;
      padding: 5px;
      position: absolute;
      top: 47%;
      left: 47%;
      img{
        width: 70px;
        height: 70px;
        // border: 2px solid #FFF;
      }
     &.review--2{
      top : 27%;
      left: 13%;
     } 
     &.review--3{
      top: 65%;
      left: 20%;
     } 
     &.review--4{
      top: 25%;
      left: 60%;
     } 
     &.review--5{
      top: 42%;
      left: 77%;
     } 
     &.review--6{
      top: 75%;
      left: 85%;
     } 
     @media screen and (max-width: $break-md) {
     img{
      width: 50px;
      height: 50px;
     }
    }
    @media screen and (max-width: $break-sm) {
      img{
       width: 30px;
       height: 30px;
      } 
        top: 55%;
        left: 47%;
      &.review--2{
        top : 35%;
        left: 13%;
       } 
       &.review--3{
        top: 70%;
        left: 20%;
       } 
       &.review--4{
        top: 35%;
        left: 60%;
       } 
       &.review--5{
        top: 47%;
        left: 77%;
       } 
       &.review--6{
        top: 75%;
        left: 85%;
       } 
      }
      .img-wrapper{
        position: relative;
      }
      .comment{
        background-color: #FFF;
        border: 1px solid #C4C4C4;
        box-shadow: 2px 4px 4px 0px #ccc;
        border-radius: 30px;
        padding: 15px 4px 0;
        position: absolute;
        left: -130%;
        width: 280px;
        text-align: center;
        top: 125%;
        display: none;
        .arrow{
          position: relative;
          span{ 
            content: "";
            position: absolute;
            top: -32px;
            left: 40%;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 30px solid #FFF
          }
        }
        h3{
          font-family: 'Metropolis'; 
          font-weight: 600;
          font-size: 24px;
          line-height: 20px; 
          color: #323232;
          text-align: center;
          margin-bottom: 14px;
        }
        p{
          font-family: 'Metropolis';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px; 
          color: #595961; 
          text-align: left;
          padding-left: 30px;
        }
        ul{
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 0 !important;
          li{
            width: 20px;
            height: 20px;
            color: #50D9D7;
          }
        }
        @media screen and (max-width: $break-md) {
          left: -188%;
          top: 135%; 
       }
       @media screen and (max-width: $break-sm) {
        left: -220%;
        top: 140%; 
        width: 200px;
        h3{
          font-size: 20px;
        }
        p{
          font-size: 14px;
        }
        .arrow{
          span{
            left: 38%;
          }
        }
     }
     @media screen and (max-width: $break-xsm) {
      left: -140%;
      top: 140%; 
      width: 150px;
      h3{
        font-size: 16px;
      }
      p{
        font-size: 14px;
        padding-left: 22px;
      }
      .arrow{
        span{
          left: 30%;
        }
      }
    }  
    &.comment6{
      @media screen and (max-width: $break-md) {
        left: -250%;
        top: 135%; 
        .arrow{
          span{
            left: 57%;
          }
        }
     }
     @media screen and (max-width: $break-sm) {
      left: -276%;
      .arrow{
        span{
          left: 50%;
        }
      }
    } 
    @media screen and (max-width: $break-smm) {
      left: -325%;
      .arrow{
        span{
          left: 63%;
        }
      }
    } 
    @media screen and (max-width: $break-xsm) {
      left: -250%;
      .arrow{
        span{
          left: 58%;
        }
      }
    } 
    }
    &.active{
      display: block;
      z-index: 2;
    }
  }
     } 
  }
}
} 
// End Testimonials
// start General style 
/////////////// start Our Features
.Our-Features{
  padding: 79px 0 70px 0;
  background-color: #F7F7F7;
} 
.Our-Features__card{
  background-color: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 35px 15px 19px;
  margin-bottom: 20px;

  .wrapper-img{
    margin-bottom: 41px;
    height: 62px;
  }
  h2{
    font-family: 'Metropolis';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;  
    color: #333333;
    margin-bottom: 33px;
  }
  p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; 
    text-align: center; 
    color: #52565F;
  }
  &.active{
    background: rgba(80, 217, 215, 0.2);
  }
}
///////// End Our Features
////////start about-servic
.servic{
  padding: 70px 0px;
  background: rgba(80, 217, 215, 0.1);
  .servic__header{
    margin-bottom: 80px;
  }
  .servic__about{
    margin-bottom: 30px;
    h3{
      color:#323232;
      font-family: 'Metropolis';
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      margin-bottom: 41px; 
    } 
  }
  .imge-wrapper{ 
    position: relative;
    img{
      width: 100%;
    }
    .play-video{   
      position: absolute;
      top: 38%;
      left: 37%;  
      padding: 25px 50px;
      border-radius: 20px;
      background: $mainColor1;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
////////End about-servic
////////start activities
.activities{
  padding: 60px 0;
  background: #FFF;
  .activities__info{
    margin-bottom: 24px;
    border-bottom: 1px solid #CCCCCC;
    h3{
      color:#323232;
      font-family: 'Metropolis';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 41px; 
    } 
    p{
      margin-bottom: 39px;
    }
  }
  .activities__number{
    .number__details{
      span{
        font-family: 'Poor Richard';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        margin-bottom: 30px; 
        text-align: justify; 
        color: #23D4CE;
      }
      p{
        font-family: 'Metropolis';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 15px; 
        text-align: justify; 
        color: #323232;
      }
      @media screen and (max-width: $break-sm) {
        text-align: center;
        p{
          text-align: center;
        }
      }
    }
  }
  img{
    width: 100%;
  }
}
////////End activities
////////Start Pricing
.Pricing{
  background: #F4F4F4;
  padding: 60px 0;
  .price{
    .price__header{
      background: #EA755D;
      border: 1px solid #EA755D;
      box-sizing: border-box;
      border-radius: 10px 10px 0px 0px;
      p{
        text-align: center;
        padding: 20px 0;
        margin: 0;
        font-family: 'Metropolis';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;  
        color: #F3F3F3;
      }
      &.header--bg-default{
        background: $mainColor1;
        border: 1px solid $mainColor1;
      }
      &.header--bg-default{
        background: $mainColor1;
        border: 1px solid $mainColor1;
      }
      &.header--bg-purple{
        background: #273557;
        border: 1px solid #273557;
      }
    } 
    .content{
      background: rgba(35, 212, 206, 0.1);
      display: flex;
      width: 100%;
      align-items: center;
      flex-direction: column;
      padding: 20px 0;
      .imge-wrapper{
        margin-bottom: 30px; 
      }
      .info{
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        p{
          font-family: 'Metropolis';
          font-style: normal;
          font-weight: 600;
          font-size: 48px; 
          text-align: justify; 
          color: #323232;
          margin-bottom: 0;
          padding-right: 15px;
        }
        span{
          font-family: 'Metropolis';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 20px; 
          text-align: justify; 
          color: #52565F;
        }
        &.info--default-color{
          p{
            color: $mainColor1;
          }
        }
      }
    } 
    @media screen and (max-width: $break-md) {
      margin-bottom: 30px;
    }
  }
}
// End Pricing
//start contact-us
.contact-us{
  padding: 57px 0;
  form{
    margin-top: 46px;
    .form__wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px; 
      .wrapper__input{
        margin-bottom: 40px;
      label{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px; 
        color: #323232;
        display: block; 
      }
      input{
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-sizing: border-box;
        border-radius: 20px;
        width: 284px;
        height: 40px;
        padding: 20px;
      }
    }
    @media screen and (max-width: $break-lg) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: none;
      .wrapper__input{
        input{
          width: 100%;
        }
      }
    } 
  }
    textarea{
      border: 1px solid #CCCC;
      padding: 20px;
      width: 100%;
      border-radius: 20px;
    }
    .submit{
      display: flex;
      margin-top: 40px;
    }
  }
  .Call-us{
    position: relative;
    padding-left: 67px;
    &::before{
      content: "";
      border: 1px solid #C4C4C4; 
      margin-right: 80px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
   } 
   .Call-us__info{
    font-family: 'Poppins';
    margin-bottom: 67px;
    h3{
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px; 
      color: #323232;
    }
    p{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px; 
      color: rgba(81, 81, 81, 0.8); 
    }
    .number{ 
      i{
        color: $mainColor1;
      }
      span{ 
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px; 
        color: #515151;
      }
     }
   }
   @media screen and (max-width: $break-sm) {
    padding-left: 0;
    &::before{
      display: none;
    }
  } 
  }
}
//End contact-us
// start banner
.banner{
  background-image: url(../img/Banner/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 490px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content{
    text-align: center;
    // font-family: 'Metropolis';
    h3{
      font-weight: 700;
      font-size: 40px;   
      color: #FFFFFF;
      margin-bottom: 56px;
    }
    p{ 
      font-weight: 500;
      font-size: 20px; 
      color: #EEEEEE; 
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: 0 auto 40px;
      @media screen and (max-width: $break-sm) {
        width: 100%;
      }
    }
  }
}
// End banner



@media screen and (max-width: $break-xsm) {

}